<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Form Update Catalogue</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar('')}"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2>Update Catalogue </h2>
          
</head>
        <form th:action="@{/catalogue/update}" th:object="${catalogueDTO}" method="POST">

          <input class="form-control" name="productId" type="hidden" th:field="*{id}" />

          Nama Produk: <br>
          <input class="form-control" name="productName" type="text" th:field="*{productName}" /><br>

          Harga Produk: <br>
          <input class="form-control" name="productPrice" type="number" th:field="*{price}" />
          <br><br>

          Deskripsi Produk: <br>
          <input class="form-control" name="productDescription" type="text" th:field="*{productDescription}" />
          <br><br>

          Stok: <br>
          <input class="form-control" name="productStock" type="number" th:field="*{stock}" />
          <br><br>

            Foto Produk: <br>
            <input class="form-control" name="image" type="text" th:field="*{image}" />
            <br><br>


         Kategori: <br>
          <table class="table">
            <tbody>
            <tr>
              <select class="form-control" name="categoryId" th:field="*{categoryId}">
                <option th:each="category: ${categoryList.categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
              </select>
            </tr>
            </tbody>
          </table>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>

</html>