<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Form Update Order Status</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar('orderHistory')}"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2>Update Order Status</h2>
          <br>
          <!--        <form th:action="@{/catalogue/update/{id}(id=${catalogueDTO.id})}" th:object="${catalogueDTO}" method="POST">-->
          <form th:action="@{/order/updateStatus}" th:object="${orderDTO}" method="POST">

            <input class="form-control" name="orderId" type="hidden" th:field="*{id}" />

            Order ID: <br>
            <p th:text="*{id}"></p><br>

            Total Price: <br>
            <p th:text="*{totalPrice}"></p><br>

            Status: <br>
            <table class="table">
              <tbody>
                <tr>
                  <select class="form-control" name="status" id="status" th:field="*{status}">
                    <option th:each="status: ${orderStatus}" th:value="${status.getValue()}"
                      th:text="${status.getKey()}"></option>
                  </select>
                </tr>
              </tbody>
            </table>

            <button class="btn btn-primary" type="submit">Submit</button>
            <!--          <a class="btn btn-primary" href="/">Home</a>-->
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>