<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <form th:action="@{/user/withdraw}" id="withdrawForm" method="post" onsubmit="return validateWithdraw()">
            <h2>Withdraw Page</h2>
            <hr>
            <!-- Current Balance -->
            <input class="form-control" name="userid" type="hidden" th:field="*{user.id}" />
            <div class="form-group">
                <label for="balance">Current Balance:</label>
                <input type="text" id="balance" class="form-control" th:value="${user.balance}" readonly>
            </div>

            <!-- Withdraw Input -->
            <div class="form-group">
                <label for="withdrawAmount">Withdraw Amount:</label>
                <input type="number" class="form-control" name="withdrawAmount" id="withdrawAmount"
                    placeholder="Enter amount" max="${user.balance}" th:field="*{user.balance}" />
                <small class="text-danger" id="withdrawAmountError"></small>
            </div>

            <!-- Withdraw Button -->
            <button type="submit" class="btn btn-primary btn-block" onclick="return validateWithdraw()">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js (for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script>
        function validateWithdraw() {
            // Get the input value
            var withdrawAmount = parseFloat(document.getElementById("withdrawAmount").value);

            // Get the current balance
            var currentBalance = parseFloat(document.getElementById("balance").value);

            // Check if the input value exceeds the current balance
            if (withdrawAmount > currentBalance) {
                document.getElementById("withdrawAmountError").innerText = "Withdraw amount exceeds the current balance.";
                return false; // Prevent form submission
            } else {
                document.getElementById("withdrawAmountError").innerText = ""; // Clear the error message
                return true; // Allow form submission
            }
        }
    </script>
</body>

</html>