<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('profile')}"></nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2>User Profile</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" th:value="${user.name}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input type="text" id="username" class="form-control" th:value="${user.username}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" th:value="${user.email}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" class="form-control" th:value="${user.address}" readonly>
                        </div>
                        <a type="button" class="btn btn-md btn-warning"
                            th:href="@{/user/edit-profile(username=${user.username}, name=${user.name}, password=${user.password}, email=${user.email}, address=${user.address})}">Edit
                            Profile</a>
                        <hr>
                        <div class="form-group">
                            <label for="balance">Balance</label>
                            <input type="text" id="balance" class="form-control" th:value="${user.balance}" readonly>
                        </div>
                        <a th:href="@{/user/withdraw}" class="btn btn-warning">Withdraw</a>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <form th:action="@{/logout-sso}" method="post">
                                    <button type="submit" class="btn btn-danger btn-block">Sign Out</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form th:action="@{/user/delete-account}" th:object="${user}" method="post">
                                    <input type="hidden" name="username" th:value="${user.id}" />
                                    <button type="submit" class="btn btn-danger btn-block">Delete Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>