<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>View All Product</title>
  <ink rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="text-center pt-5">
      <h2>APAPEDIA</h2>
      <br>
    </div>

    <div class="row justify-content-center m-2">
        <div th:each="product : ${listProduct}" class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 th:text="${product.productName}" class="card-title"></h5>
                    <br>
                    <h6 th:text="'Price : Rp' + ${product.price}"></h6>
                    <h6 th:text="'Category : ' + ${product.categoryId.name}"></h6>
                    <h6 th:text="'Stock : ' + ${product.stock}"></h6>
                    <p>
                        <strong th:text="'Description: '"></strong>
                        <br th:text="${product.productDescription}" />
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <div class="text-center m-3">
      <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
    </div> -->
  </div>
</body>

</html>